git+ssh://git@github.com/arabesque-sray/score-db@3.1.4#egg=sray_db
git+ssh://git@github.com/arabesque-sray/arabesque-py@0.0.7#egg=arabesque-py
google-cloud-logging==1.14.0
pandas==1.1.1
python-json-logger==0.1.11
sqlalchemy~=1.3.0